html {
  font-size: 10vw;
}

@media screen and (max-width: 320px) {
  html {
    font-size: 64px;
  }
}

@media screen and (min-width: 540px) {
  html {
    font-size: 108px;
  }
}

html, body {
  margin: 0;
  padding: 0;
}

.box {
  height: 10rem;
  border: 1px solid gray;
  position: relative;
  overflow: auto;
}

.content {
  width: 80%;
  height: 20rem;
  background-color: green;
  margin: 0 auto;
}
