html {
  /*font-size: 20vw;*/
}

@media screen and (max-width: 320px) {
  html {
    font-size: 64px;
  }
}

@media screen and (min-width: 540px) {
  html {
    font-size: 108px;
  }
}

html, body {
  margin: 0;
  padding: 0;
}

.kuang {
/*  height: 200px;
  width: 155px;*/
  display: inline-block;
}

.htmlimg {
  height: 200px;
  width: 155px;
}

.iimg {
  width: 100%;
  height: auto;
}

.dimg {
  height: 200px;
  width: 155px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
