html {
  font-size: 26.666666667vw;
}

@media screen and (max-width: 320px) {
  html {
    font-size: 64px;
  }
}

@media screen and (min-width: 540px) {
  html {
    font-size: 108px;
  }
}

html, body {
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  font-size: .1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container .li-item {
  /*width: 20vw;*/
  display: inline-block;
}
